@page
@{
    ViewData["Title"] = "Bulbasaur";
}

<div class="text-center">
    <img src="https://c.tenor.com/-UySwvEyDMMAAAAi/bulbasaur-pokemon.gif"/>
    <img src="https://c.tenor.com/6GYLcQPTRHgAAAAi/bulbizarre-bulbasaur.gif"/>
    <img src="https://i.pinimg.com/originals/ee/6e/b8/ee6eb8176ef63e27969119391e19ea94.png" height="200px"/> 
    <br>
    <br>
    <br>
    <img src="https://i.pinimg.com/originals/99/9d/12/999d12f9520e8b12ed426cf0c0493b43.gif"/>
</div>